<!DOCTYPE html>
<html lang="en">
  <body>
    <head>
      <title>Full URL</title>
    </head>

    <h1>Short URL: <%= shortURL %> </h1>
    <a href="<%= longURL %>"> <%= longURL %> </a>

  </body>
</html>